<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Интернет-магазин</title>
</head>
<body>
<header>
    <h1>Добро пожаловать в наш магазин!</h1>
</header>
<nav>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/category">Категории</a></li>
        <li><a href="/product">Товары</a></li>
    </ul>
</nav>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p>&copy; 2023 Интернет-магазин</p>
</footer>
</body>
</html>